<div class="panel panel-default panel-order" ng-controller="DetailsController">
  <div class="panel-heading">
  <strong>{{restaurant_name}} - {{table_name}}</strong>
	  <div class="btn-group pull-right">
		  <div class="btn-group">
			<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
			  Filto ordenes <i class="fa fa-filter"></i>
			</button>
			<ul class="dropdown-menu dropdown-menu-right">
			  <li><a href="#">Ordenes activas</a></li>
			  <li><a href="#">Ordenes en proceso</a></li>
			  <li><a href="#">Ordenes en cocina</a></li>
			  <li><a href="#">Ordenes finalizadas</a></li>
			</ul>
		  </div>
		</div>
  </div>
  <div class="panel-body" >
  	<div class="col-md-6" ng-repeat="order in orders" style="background-color: {{changeBody(order.status)}}; padding-top:10px; padding-bottom: 10px;">
		<div class="row">
			<div class="col-md-12">
				<h4>
						Orden #{{order.id}} <span class="label label-xs label-{{changeCSS(order.status)}}" ng-model="order.status">{{order.status}}</span> 
				</h4>
			</div>
			<div class="col-md-12">
				Realizada: {{created | date:"dd/MM/yyyy HH:mm" }} por <em>Alejandro Rodriguez</em>
			</div>
		</div>	
		<div class="row">
			<hr>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped">
						<thead>
							<tr>
									<th>Imagen</th>
									<th>Nombre</th>
									<th>Cantidad</th>
									<th>Precio</th>
									<th>Total</th>
									<th>Estatus</th>
							</tr>
						</thead>
						<tbody>
								<tr 
									ng-repeat="op in order.orders_products" 
									class="{{changeCSS(op.status)}}">
										<td></td>
										<td>{{op.product.name}}</td>
										<td>{{op.qty}}</td>
										<td>{{op.product.price}}</td>
										<td>{{op.product.price * op.qty}}</td>
										<td>
											 <select class="form-control" ng-model="op.status" name="status">
									    	<option value="Solicitada">Solicitada</option>
									    	<option value="Aprobado">Aprobado</option>
									    	<option value="Sin Stock">Sin stock</option>
									    	<option value="Rechazado">Rechazado</option>
									    </select>
										</td>
								</tr>									
						</tbody>
				</table>

			</div>
		</div>
		<div class="row">
				<div class="col-md-6">
					<label for="">Estatus de la Orden:</label>
					<select class="form-control" ng-model="order.status">
					    	<option value="Solicitada">Solicitada</option>
					    	<option value="En proceso">En proceso</option>
					    	<option value="Despachada">Despachada</option>
					    	<option value="Cuenta">Cuenta</option>
					    	<option value="Pagado">Pagado</option>
				  </select>
				</div>
				<div class="col-md-6">
						<label for="">&nbsp;</label>
						<button class="form-control btn btn-success" ng-click="update_order(order)">Procesar</button>
				</div>
			</div>

	</div>
	</div>		
		
  <div class="panel-footer">Waiter 2015</div>
</div>