<div ng-controller="IndexController" >
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Mesas</strong>
			</div>
			<div class="panel-body">
				<div class="col-md-6">
					<input type="text" ng-model="table.name" class="form-control" placeholder="Buscador...">
				</div>
				<div class="col-md-6">
					<select class="form-control" ng-model="order.status">
						<option value="">Todas</option>
				    	<option value="Solicitada">Solicitada</option>
				    	<option value="En proceso">En proceso</option>
				    	<option value="Despachada">Despachada</option>
			 		 </select>
				</div>
			</div>
		</div>
		

		<div class="col-md-12">
			<div class="row">
				<div ng-show="alert_display" class="alert alert-success" role="alert">{{alert_message}}</div>
			</div>
			<div class="col-md-{{tableSize(table)}}" ng-repeat="table in tables | filter: table | orderBy: ['order','-count'] ">
				<div class="panel panel-{{panelStyle(table)}}" >
					<div class="panel-heading">
						{{table.name}} <span class="badge" ng-if="table.orders.length" data-toggle="tooltip" data-placement="top" title="Ordenes sin atender">{{table.orders.length}}</span>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12" style="{{tableStyle(table)}}">
								<ul class="media-list">
									<li class="media col-md-12" ng-repeat="order in table.orders | filter: order" style="background-color: {{changeBody(order.status)}};" ng-show="{{displayOrder(order)}}" >
										<div class="media-left media-middle">
											<img class="media-object center" src="images/unknown.png" style="width: 50px; height: 50px;">
										</div>
										<div class="media-body">
											<h4>{{order.status}} #{{order.id}}</h4>
											<p class="pull-left">Total orden: {{order.total | number:0}}</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="row" style="margin-top:10px;">
							<div class="col-md-12">
								<a ng-show="table.orders.length > 0" target="_blank" class="form-control btn btn-default" href="/#/details/{{table.id}}">ver ordenes</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>