<div ng-app="WaiterApp">
	 <div ng-view></div>
</div>




<script src='http://code.responsivevoice.org/responsivevoice.js'></script>
<script src="http://app.waiter.cl:5001/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js"></script>
<script src="javascripts/ngStorage.min.js"></script>
<script src="app.js"></script>
<script src="controllers/main_controller.js"></script>
<script src="controllers/details_controller.js"></script>
