<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<script src="http://app.waiter.cl:5001/socket.io/socket.io.js"></script>
	<script>

	var socket = io("app.waiter.cl:5001");
	socket.on('rt-change',function(data){
		console.log(data);
	})
	</script>
</body>
</html>