
<%= form_for @table, url: {action: "create"}, html: {class: 'form-inline col-xs-9 center'} do |f| %>
	<input type="hidden" name="table[restaurant_id]" id="table_restaurant_id" value=<%= @restaurant.id%> >
	<div class="form-group">
	  <%=f.text_field :name, class: 'form-control', placeholder: 'Nombre' %>
	</div>
	<div class="form-group">
	  <%=f.text_field :capacity, class: 'form-control', placeholder: 'Capacidad' %>
	</div>

  <%= f.submit "Registrar", :name => nil, class: "btn btn-primary" %>
<% end %>