
<%#= javascript_include_tag 'orders', 'data-turbolinks-track' => true %>
<%= javascript_include_tag "orders"%>
<h1>Mesas</h1>

<% @tables.each do |t| %>
<div class="col-xs-6">
	<div class="panel panel-info">
		<div class="panel-heading"><%= t.name %> [<%= t.capacity %>] </div>

		<div class="panel-body">
	    <div class="col-xs-3">

	    </div>
	    <div class="col-xs-9" ng-controller="OrdersController as order">
	    	<table class="table">
	    		<thead>
	    			<tr>
	    				<td>Producto</td>
							<td>Precio unitario</td>
							<td>Cantidad</td>
							<td>Total</td>
	    			</tr>
	    		</thead>
	    		<tbody>
		    		<% total = 0 %>
			    	<% t.orders.each do |o| %>
			    		<% o.orders_products.each do |op| %>
				    		<tr>
				    			<td><%=op.product.name%></td>
				    			<td><%=number_to_currency(op.product.price, precision: 0) %></td>
				    			<td><%=op.qty%>
				    			<td><%=number_to_currency( op.qty*op.product.price, precision: 0)%></td>
				    		</tr>
			    			<% total +=  op.qty*op.product.price %>	
			    		<% end %>
			    	<% end %>
				    	<tr>
				    		<td colspan="4"><%= number_to_currency(total,precision: 0) %></td>
				    	</tr>
		    	</tbody>
		    </table>
	    </div>
	  </div>
	</div>
</div>
<% end %>
