<div class="panel panel-default">
  <div class="panel-heading">
    Nueva Mesa :: <%= @restaurant.name %>
    <%#= link_to "Listado", restaurants_path, class: "label label-default" %>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <table class="table">
		<thead>
			<tr>
				<td>#Mesa</td>
				<td>Capacidad</td>
				<td>Acciones</td>
			</tr>
		</thead>
		<tbody>
			<% @tables.each do |t| %>
				<tr>
					<td><%= t.name%></td>
					<td><%= t.capacity%></td>
					<td>
						<%= link_to "QR", t, class: "label label-info" %>
						<%= link_to "Eliminar", table_path(t), class: "label label-danger", method: :delete, data: { confirm: '¿Seguro desea eliminar la mesa '+t.name+'?' } %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
