<div class="panel panel-default">
  <div class="panel-heading">
    QR >> <%= @table.name %> :: <%= @table.restaurant.name %>
    <%#= link_to "Listado", restaurants_path, class: "label label-default" %>
  </div>
  <div class="panel-body">
    <%= image_tag @qr %>
  </div>
</div>
