
<%= form_for @restaurant, url: {action: "create"}, html: {class: 'col-xs-9 center'} do |f| %>

<div class="form-group">
  <label for="exampleInputEmail1">Nombre</label>
  <%=f.text_field :name, class: 'form-control', placeholder: 'Nombre' %>
</div>

  <%= f.submit "Registrar", :name => nil, class: "btn btn-primary" %>
<% end %>