<div class="panel panel-default">
  <div class="panel-heading">
    <%= @restaurant.name %>
    <%= link_to "Listado", restaurants_path, class: "label label-default" %>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>