
<div class="panel panel-default">
	<div class="panel-heading">
		Restaurants
		<%#= link_to "Nuevo", new_restaurant_path, class: "label label-default" %>
	</div>
	<div class="col-lg-6"></div>
	<div class="panel-body col-lg-6">
		<%= form_tag restaurants_path, :method=>'get' do %>
			<div class="input-group">
				<%=text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Nombre' %>
				<span class="input-group-btn">
				<%=submit_tag "Buscar", :name => nil, class: "btn btn-primary" %>
				</span>
			</div>
		<% end %>
	</div>
	<table class="table table-responsive table-striped">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Tipo cocina</th>
				<th>Dirección</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
		<% @restaurants.each do |r| %>
			<tr>
				<td><%= r.name %></td>
				<td><%#= r.type.name %></td>
				<td><%#= r.address%></td>
				<td>
					<%= link_to "Menú", restaurant_path(r), class: "label label-info" %>
					<%= link_to "Mesas", new_table_path(restaurant_id: r.id), class: "label label-success" %>
					<%= link_to "Pedidos", tables_path(restaurant_id: r.id), class: "label label-success" %>
					<!--<%= link_to "Editar", edit_restaurant_path(r), class: "label label-info" %>-->
					<%= link_to "Eliminar", restaurant_path(r), class: "label label-danger", method: :delete, data: { confirm: '¿Seguro desea eliminar el restaurant '+r.name+'?' } %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
	<%= will_paginate @restaurants %>
</div>

