<div class="panel panel-default">
	<div class="panel-heading">
		<%= @restaurant.name %>
	</div>
	<div class="panel-body">
	<div class="row">

		<div class="col-sm-6 col-md-6">
		    <div class="thumbnail">
		      <div class="caption">
		        <h3>Categorías</h3>
		        <p>Ingresa las categorías que maneja tu restaurant y asocialos a tus productos</p>
		        <p>
		        	<%= form_for @category, url: {action: "add_categories"}, html: {multipart: true, class: 'form'} do |f| %>
		        	<input type="hidden" name="category[restaurant_id]" id="category_restaurant_id" value=<%= @restaurant.id%> >
		        	<%#= f.text_hidden :restaurant_id value: resta%>
		        	<div class="form-group col-xs-6">
							  <%=f.text_field :name, class: 'form-control', placeholder: 'Nombre categoría' %>
							</div>
							
							<div class="form-group col-xs-6">
							  <%=f.file_field :image, class: 'form-control' %>
							</div>
							<div class="form-group col-xs-2">
							  <%=f.text_field :order, class: 'form-control', placeholder: 'Orden' %>
							</div>
							<div class="form-group col-xs-12">
								<label>
								<%= f.check_box :active %>
								Activo
								</label>
							</div>
							<div class="form-group col-xs-12">
		        		<%= f.submit "Guardar", :name => nil, class: "btn btn-primary" %>
		        	</div>

		        	<% end %>
					<%#= link_to "Categorías", new_restaurant_category_path(@restaurant.code), class: "btn btn-default" %>	
		        </p>
		        <p>
		        	<table class="table">
		        	<% @categories.each do |c| %>
						<tr>
							<td><%= c.name %></td>
							<td><%= c.order %></td>
							<td><%= link_to "Eliminar", category_path(c), class: "label label-danger", method: :delete, data: { confirm: '¿Seguro desea eliminar la categoria '+c.name+'?' } %></td>
						</tr>
		        	<% end %>
		        	</table>
		        </p>
		      </div>
		    </div>
	    </div>
		
		<div class="col-sm-6 col-md-6">
			<div class="thumbnail">
		      <div class="caption">
		        <h3>Productos</h3>
		        <p>Ingresa los productos y asocialos a las categorías</p>
		        <p>
		        	<%= form_for @product, url: {action: "add_products"}, html: {multipart: true, class: 'form'} do |f| %>
		        	<input type="hidden" name="product[restaurant_id]" id="product_restaurant_id" value=<%= @restaurant.id%> >
							<div class="form-group col-xs-6">
							  <%=f.text_field :name, class: 'form-control', placeholder: 'Nombre' %>
							</div>
							<div class="form-group col-xs-6">
							  <%=f.text_field :price, class: 'form-control', placeholder: 'Precio' %>
							</div>
							<div class="form-group col-xs-6">
							  <%=f.text_field :sku, class: 'form-control', placeholder: 'SKU' %>
							</div>
							<div class="form-group col-xs-6">
							  <%=f.collection_select(:category_id, Category.where(restaurant_id: @restaurant.id), :id, :name, {},{:class => 'form-control'}) %>
							</div>
							<div class="form-group col-xs-2">
							  <%=f.text_field :order, class: 'form-control', placeholder: 'Orden' %>
							</div>
							<div class="form-group col-xs-2">
							  <%=f.text_field :qty, class: 'form-control', placeholder: 'Cant.' %>
							</div>
							<div class="form-group col-xs-2">
							  <%=f.text_field :unit, class: 'form-control', placeholder: 'Unidad' %>
							</div>
							<div class="form-group col-xs-6">
							  <%=f.file_field :image, class: 'form-control' %>
							</div>
							
							<div class="form-group col-xs-12">
		        		<%= f.submit "Guardar", :name => nil, class: "btn btn-primary" %>
		        	</div>
		        	<% end %>
					<%#= link_to "Productos", new_product_path, class: "btn btn-default" %>	
		        </p>
		        <p>
		        	<table class="table">
		        	<% @products.each do |p| %>
						<tr>
							<td><%= p.name %></td>
							<td><%= p.category.name %></td>
							<td><%= number_to_currency(p.price,precision: 0) %></td>
							<td><%= link_to "Eliminar", product_path(p), class: "label label-danger", method: :delete, data: { confirm: '¿Seguro desea eliminar el producto '+p.name+'?' } %></td>
						</tr>
		        	<% end %>
		        	</table>
		        </p>
		      </div>
		    </div>
	    </div>

	</div>
	</div>
</div>
