<!DOCTYPE html>
<html>
	<head>
		<title>Waiter</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag "menu" %>

		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%#= javascript_include_tag 'angular.min', 'data-turbolinks-track' => true %>
		
		<%#= javascript_include_tag "angular.min.js" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<script>
		$(function () {
		    $('.navbar-toggle').click(function () {
		        $('.navbar-nav').toggleClass('slide-in');
		        $('.side-body').toggleClass('body-slide-in');

		        /// uncomment code for absolute positioning tweek see top comment in css
		        //$('.absolute-wrapper').toggleClass('slide-in');
		        
		    });
		   
		   // Remove menu for searching
		   $('#search-trigger').click(function () {
		        $('.navbar-nav').removeClass('slide-in');
		        $('.side-body').removeClass('body-slide-in');

		        /// uncomment code for absolute positioning tweek see top comment in css
		        //$('.absolute-wrapper').removeClass('slide-in');

		    });
		});
		</script>

		<!-- uncomment code for absolute positioning tweek see top comment in css -->
	    <!-- <div class="absolute-wrapper"> </div> -->
	    <!-- Menu -->
	    <div class="side-menu">
		    
		    <nav class="navbar navbar-default" role="navigation">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			        <div class="brand-wrapper">
			            <!-- Hamburger -->
			            <button type="button" class="navbar-toggle">
			                <span class="sr-only">Toggle navigation</span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			            </button>

			            <!-- Brand -->
			            <div class="brand-name-wrapper">
							<img class="center-block media-object" src="images/logo.png" style="width: 100px;">
			                
			            </div>
			        </div>

			    </div>

			    <!-- Main Menu -->
			    <div class="side-menu-container">
			        <ul class="nav navbar-nav">
						<!-- Dropdown-->
			            <li class="panel panel-default" id="dropdown">
			                <a data-toggle="collapse" href="#dropdown-lvl1">
			                    <span class="glyphicon glyphicon-user"></span> Esteban Fajardo <span class="caret"></span>
			                </a>

			                <!-- Dropdown level 1 -->
			                <div id="dropdown-lvl1" class="panel-collapse collapse">
			                    <div class="panel-body">
			                        <ul class="nav navbar-nav">
			                            <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Preferencias</a></li>
			                            <li><a href="#"><span class="glyphicon glyphicon-off"></span> Cerrar sesión</a></li>

			                            <!-- Dropdown level 2 -->
			                            <!--<li class="panel panel-default" id="dropdown">
			                                <a data-toggle="collapse" href="#dropdown-lvl2">
			                                    <span class="glyphicon glyphicon-off"></span> Sub Level <span class="caret"></span>
			                                </a>
			                                <div id="dropdown-lvl2" class="panel-collapse collapse">
			                                    <div class="panel-body">
			                                        <ul class="nav navbar-nav">
			                                            <li><a href="#">Link</a></li>
			                                            <li><a href="#">Link</a></li>
			                                            <li><a href="#">Link</a></li>
			                                        </ul>
			                                    </div>
			                                </div>
			                            </li>-->
			                        </ul>
			                    </div>
			                </div>
			            </li>
			            <li><a href="/#/"><span class="glyphicon glyphicon-th-list"></span> Ordenes</a></li>
			            <li>
							<%= link_to restaurants_path, class: "" do %>
							    <span class="glyphicon glyphicon-th-large"> Sucursales</span>
							<% end %>
			            <li><a href="#"><span class="glyphicon glyphicon-bullhorn"></span> Notificaciones</a></li>
						<li class="panel panel-default" id="dropdown">
	                        <a data-toggle="collapse" href="#dropdown-lvl2">
	                            <span class="glyphicon glyphicon-cog"></span> Preferencias <span class="caret"></span>
	                        </a>
	                        <div id="dropdown-lvl2" class="panel-collapse collapse">
	                            <div class="panel-body">
	                                <ul class="nav navbar-nav">
	                                    <li><%= link_to "Nuevo", new_restaurant_path %></li>
	                                </ul>
	                            </div>
	                        </div>
	                    </li>
			            <!--<li><a href="#"><span class="glyphicon glyphicon-signal"></span> Link</a></li>-->

			        </ul>
			    </div><!-- /.navbar-collapse -->
			</nav>
		    
		</div>

	    <div id="main-container" class="container-fluid">
	    
			<div class="row side-body">
				<div id="main-content" class="col-xs-12">
					<div class="row">
				        <div class="col-xs-12">
				          <% flash.each do |name, msg| %>
				            <%= content_tag :div, msg, class: "alert alert-#{name}" %>
				          <% end %>
				        </div>
				    </div>
					<%= yield %>
				</div>
			</div>
	    </div>

	</body>
</html>
